@import url('https://fonts.googleapis.com/css?family=Changa:800|Yesteryear');

.mainArtists {
    height: fit-content;
    width: 100vw;
    /*background: linear-gradient(-20deg, #333 0%, #1c42db 100%, #111 65%);*/
    background: linear-gradient(-20deg, #1c42db -120%, #151515 70%);
    position: relative;
    justify-content: center;
    /*overflow: hidden;*/
    /*z-index: 1;*/
}

.artistsParentParent {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    font-size: 100px;
    /*color: white;*/
}

.artistsParent {
    left: 15%;
    width: 70%;
    height: fit-content;
    /*background: pink;*/
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    /*margin: 50px;*/
}

.artistToClick {
    width: 40%;
    height: 400px;
    /*background: blue;*/
    color: white;
    font-size: 40px;
    font-family: 'Changa', sans-serif;
    text-decoration: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.artistProfilePic {
    height: 350px;
    width: 350px;
    background: white;
    overflow: hidden;
    margin: 10px;
}

.theActualPic {
    height: 350px;
    width: auto;
    overflow: hidden;
    display: inline-block;
    /*padding: 10px;*/
}

.artistsHeader {
    font-family: 'Changa', sans-serif;
    border-bottom: 5px solid white;

}

.artistsHeader span {
    font-family: 'Yesteryear', cursive;

}